<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.leavesc.constraint_layout">

    <application>
        <activity android:name=".LayerActivity" />
        <activity android:name=".FlowActivity" />
        <activity android:name=".ConstraintLayoutMainActivity" />
    </application>

</manifest>