<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.leavesczy.customview">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service
            android:name=".view.floatball.FloatBallViewService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".CustomViewMainActivity" />
        <activity android:name=".CircleRefreshViewActivity" />
        <activity android:name=".WaveViewActivity" />
        <activity android:name=".ViewActivity" />
    </application>

</manifest>