<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.leavesc.motion_layout">

    <application>
        <activity
            android:name=".MotionLayoutDemoEActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MotionLayoutDemoCActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MotionLayoutDemoBActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MotionLayoutDemoAActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MotionLayoutMainActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MotionLayoutDemoDActivity"
            android:theme="@style/AppThemeNoActionBar" />
    </application>

</manifest>